/* * {
  box-sizing: border-box;
}
.bg {
  background-image: url("../images/dactyl-manuform-2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  width: 250px;
  height: auto;
} */

.black-transparent {
  background: rgba(0, 0, 0, 0.322);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.top-nav-collapse {
  background-color: #78909c !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}
h1 {
  letter-spacing: 8px;
}
h5 {
  letter-spacing: 3px;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
